# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file.

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [2]:
# Import the file and print the first 5 rows
df = pd.read_excel('Data/Zipcode_Demos.xlsx')

In [13]:
# Print the last 5 rows of df
df.tail(5)

,COUNT PUBLIC ASSISTANCE TOTAL,9.4,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
6,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0,6,1,0,0,6,100
7,10007,1,0,0,1,1,0,0,1,100,...,1,100,1,1,0,0,0,0,1,100
8,10009,2,0,0,2,1,0,0,2,100,...,2,100,0,0,2,1,0,0,2,100
9,10010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0,3,1,0,0,3,100

In [ ]:
# What is going on with this data set? Anything unusual?
"""
The columns are not well named

"""

In [12]:
# Clean up the dataset
df = pd.read_excel('Data/Zipcode_Demos.xlsx', header=47)
df

,COUNT PUBLIC ASSISTANCE TOTAL,9.4,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
1,10001,44,22,0.5,22,0.5,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
2,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
3,10003,1,1,1,0,0,0,0,1,100,...,1,100,0,0,1,1,0,0,1,100
4,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,10005,2,2,1,0,0,0,0,2,100,...,2,100,0,0,2,1,0,0,2,100
6,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0,6,1,0,0,6,100
7,10007,1,0,0,1,1,0,0,1,100,...,1,100,1,1,0,0,0,0,1,100
8,10009,2,0,0,2,1,0,0,2,100,...,2,100,0,0,2,1,0,0,2,100
9,10010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0,3,1,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_Corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [15]:
df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [18]:
# Hint: Here's a useful programming pattern to use
try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except pd.errors.ParserError as e:
    print("Parser error:", e)

Parser error: Error tokenizing data. C error: Expected 10 fields in line 2341, saw 12

In [21]:
# Use the error_bad_lines parameter to skip lines with too many fields 
# Note: error_bad_lines has been deprecated in recent versions of pandas, 
# and on_bad_lines should be used instead:

df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', header=0, on_bad_lines='skip')

In [23]:
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [25]:
# Example of trimming whitespace and adjusting text case in 'text'
df['text'] = df['text'].str.strip().str.lower()

# Convert 'date' to datetime
# df['date'] = pd.to_datetime(df['date'])

# Handling missing data (if any)
df.fillna({'text': 'no review'}, inplace=True)

# Optionally, remove duplicates if they exist
df.drop_duplicates(inplace=True)

# Saving the cleaned data
df.to_csv('cleaned_data.csv', index=False)

## Summary

Congratulations, you now practiced your Pandas-importing skills.